
@font-face {
  font-family: "baloo";
  src: url("baloo-tama.ttf");
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'baloo';
}

.header {
    background-color: #333;
    color: #2E4053;
    padding: 0px;
    position: fixed;
    width: 100%;  
    z-index: 10;
}

 /* Add a black background color to the top navigation */
 .topnav {
    overflow: hidden;
    margin: 5px 0px;
    height: 100%;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: white;
  }

  .topnav a.active:hover {
    background-color: black;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 

  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 8px;
    text-decoration: none;
    font-size: 22px;
    margin: 0px;
  }
  
  .topnav a:hover {
    background-color: black;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .topnav a.site-name:hover{
    background-color: #333;
  }


  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a {
        padding: 4px 8px;
        font-size: 18px;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav a.site-name{
        display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .topnav a.site-name{
        display: none;
    }
  }

.row {
    margin: 0px;
    padding:0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 8px;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: left;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.text-primary {
    color: #2c3e50;
}

.text-secondary {
    font-size: 15px;
    color: #566573;
}

.content {
    background-color:white;
    position: relative;
}

.content-primary {
    display: inline-block;
    *display: inline;
    width: 100%;
    vertical-align: top;
    
}

.content-primary img{
  width: 30%;
}

.content a.content-info {
  color: grey;
  margin-bottom: 50px  ;
}

.content-secondary {
    width: 50%;
    position: relative;
    margin-top: 10px;
    margin-left: 25%;
    font-family: 'Baloo Tamma 2', cursive;
}

.content-secondary img {
    margin-left: 20px;
    width: 80%;
}

hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 5px;
  }

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 15px;
}

#link { 
    color: #0099cc;
    text-decoration:none;
}
.footer #link { color: #fff; }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%; height: 100%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .text-secondary {
        font-size: 18px;
        color: #566573;
       
    }

    .content-primary img{
      width: 30%;
    }

    .content-secondary {
        display: inline-block;
        *display: inline;
        width: 50%;
        position: relative;
    }

    .content-secondary img {
        margin-left: 20px;
        width: 80%;
    }

    .topnav a {
      padding: 4px 16px;
      font-size: 18px;
  }

}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%; height: 100%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .content-primary {
      display: inline-block;
      *display: inline;
      width: 80%;
      vertical-align: top;
  }

  .content-primary img{
    width: 30%;
  }

    .content-secondary {
        display: inline-block;
        *display: inline;
        width: 18%;
        position: relative;
        margin-left: 0px;
        font-family: 'Baloo Tamma 2', cursive;
    }

    .content-secondary img {
        margin-left: 20px;
        width: 80%;
    }

    .text-secondary {
      font-size: 20px;
      color: #566573;
  }

    .site-name {
        float: right;
        color: white;
    }

    .topnav a {
      padding: 4px 16px;
      font-size: 22px;
  }
}
