
@font-face {
    font-family: "baloo";
    src: url("baloo-tama.ttf");
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'baloo';
}

hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 5px;
}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;  
    padding: 15px;
}

#link { 
    color: white;
    text-decoration:none;
    font-size: 16px;
}

#link-2 { 
    color: #0099cc;
    text-decoration:none;
    font-size: 18px;
}

.footer #link { color: #fff;}

.footer a {
    margin-right: 8px;
}

.content {
    background-color:white;
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

.content a {
    font-size: 18px;
}

.content h2 {
    color: #2c3e50;
}

.content h3{
    color: #2c3e50;
    top:0%;
}

.innvisible{
    opacity: 0;
}

.move_up {
    position: relative;
    animation: move_up 1s ;
    opacity: 1;
  }

@keyframes move_up {
    from {
        bottom: -50px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
  }

.content a:not(.content-link) {
    font-size: 14px;
    color: #566573;
}

.content-link{
    color:black;
    text-decoration: none;
    color:#0099cc ;
}

.content p {
    font-size : 18px;
    color: #566573;
}
  
.content-secondary img {
    margin-left: 20px;
    width: 80%;
}
  
hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .content {
        padding-right: 3%;
        padding-left: 3%;
    }
}


/* SNACKBAR ****************/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  /****************/

