:root {
  --body_color  : rgb(238, 237, 237);
  --text_font   : 'Baloo 2', sans-serif;
  --title_main_font : 'Montserrat', sans-serif; 
  --title_second_font : "Urbanist", sans-serif;
}


@font-face {
    font-family: "baloo";
    src: url("baloo-tama.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body_color);
}


html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'baloo';
}

hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 5px;
}

.title1 {
    /* Mevcut stiller */
    color: #2b333a; /* Beyaz metin rengi */
    margin-bottom: 0px;

    /* Yeni Şık Font (Montserrat) ve Kalınlık */
    font-family: var(--title_main_font); 
    font-size: 48px; /* Başlık için büyük boyut */
    font-weight: 700; /* Kalın font */
    
    /* Şık Gölge Efekti */
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.7),     /* Derinlik için koyu gölge */
        0 0 10px rgba(255, 255, 255, 0.2);  /* Hafif parlama (glow) efekti */
}

/*SOFT BUTTON*/
.soft-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    background: transparent;
    border: none;
    padding: 12px 20px;
    border-radius: 14px;
    font-weight: 600;
    font-size: 35px;;
    color: #333;
    cursor: pointer;
    transition: all 0.25s ease;
     text-decoration:none;
}

.soft-btn span{
    font-size: 16px;
    color: black;
}

/* Sol ikon ayarları */
.soft-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    pointer-events: none;
    display: block;
    margin-bottom: 3px;
}

/* Hover efekti */
.soft-btn:hover {
    background: #eeeded;
    box-shadow: 8px 8px 20px rgba(0,0,0.12,0.12);
    transform: translateY(-1px);
}

/* Basılı tutma efekti */
.soft-btn:active {
    box-shadow: 0px 4px 10px rgba(0,0,0,0.20);
    transform: translateY(0);
}


.footer {
    /*background-color: #0099cc;*/
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;  
    padding: 15px;
}

.footimg{
    fill: #915353;
    width: 30px;
    height: 30px;
}

#link { 
    color: white;
    text-decoration:none;
    font-size: 16px;
}

#link-2 { 
    color: #0099cc;
    text-decoration:none;
    font-size: 18px;
}

.footer #link { color: #fff;}

.footer a {
    margin-right: 8px;
}

.content {
    background-color:var(--body_color);
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

.content p {
    font-size : 18px;
    color: #1f2020;
    font-family: var(--text_font);
}

.content a {
    font-size: 18px;
}

.content h2 {
    color: #2c3e50;
}

.content h3{
    color: #2c3e50;
    top:0%;
}

.content-img{
    border-radius: 22px;
}

.innvisible{
    opacity: 0;
}

.libraries{
    margin-top: 300px;
}

.move_up {
    position: relative;
    animation: move_up 1s ;
    opacity: 1;
  }

@keyframes move_up {
    from {
        bottom: -50px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
  }

.content a:not(.content-link) {
    font-size: 14px;
    color: #566573;
}

.content-link{
    color:black;
    text-decoration: none;
    color:#0099cc ;
}
  
.content-secondary img {
    margin-left: 20px;
    width: 80%;
}
  
hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .content {
        padding-right: 3%;
        padding-left: 3%;
    }
}


/* SNACKBAR ****************/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  /****************/

